@use '../../styles/vars';

.main {
  flex: 1;
  display: flex;
  color: white;
  margin: 2*vars.$gutter 2*vars.$gutter;
  height: 95%;
  border: 1px solid silver;

  &__voteArea {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  &__eventsArea {
    flex: 1;
  }
}