@use '../../../styles/vars';

.votersRegistration {

 &__addForm {
  margin-bottom: vars.$gutter;
 }

 &__votersList {
  margin-bottom: vars.$gutter;
  color: silver;
  padding: 0 2*vars.$gutter;
  display: inline-block;
 }

 &__onlyAdmin {
  margin-left: 1.2em;
 }

}